$circleBorderColor: #e0e0e0;
$color: #0e101c;
$widthHeight: 15px;
$infoBulleWidth: 200px;

.info {
  position: relative;
  display: inline-block;
}

.info__icone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $widthHeight;
  height: $widthHeight;
  font-weight: 500;
  font-size: 12px;
  border-radius: 50%;
  color: $circleBorderColor;
  border: 2px solid $circleBorderColor;
  cursor: pointer;

  &:hover + .info__bulle {
    visibility: visible;
    opacity: 1;
  }
}

.info__bulle {
  visibility: hidden;
  opacity: 0.5;
  width: $infoBulleWidth;
  background-color: #f9f9f9;
  color: $color;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 40%;
  transform: translateX(-40%);
  transition: opacity 0.5s ease, visibility 0s linear;
}
