$borderRadius: 15px;
$transitionDuration: 400ms;
$labelFontFamily: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$progressBackgroundColor: #f9f9f9;
$progressBarHeight: 7px;
$checkmarkBorderColor: green;
$checkmarkSize: 20px;
$checkmarkFontSize: 15px;

.progress {
  margin-top: 10px;
  background-color: $progressBackgroundColor;
  border-radius: $borderRadius;

  &__bar {
    height: $progressBarHeight;
    border-radius: $borderRadius;
    transition: all $transitionDuration ease;
  }
  &__label {
    & p {
      text-align: end;
      font-family: $labelFontFamily;
      margin-top: 5px;
    }

    & ul {
      list-style-type: none;
      color: $progressBackgroundColor;
      margin-top: -20px;
      margin-bottom: 20px;
    }
    & li {
      margin-bottom: 5px;
    }

    &__checkmark {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: $checkmarkSize;
      height: $checkmarkSize;
      border: 2px solid $checkmarkBorderColor;
      border-radius: 50%;
      color: $checkmarkBorderColor;
      font-weight: bold;
      font-size: $checkmarkFontSize;
      margin-right: 5px;
    }
  }
}
