.form {
  background-color: none;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.form__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 10px 15px;
  font-size: 14px;
  @media screen and (max-width: 200px) {
    width: 100%;
  }
}

label {
  color: #f9f9f9;
  margin-bottom: 10px;
}

input[type='radio'] {
  display: inline-block;
  width: auto;
  cursor: pointer;
  margin-bottom: 10px;
}

input[type='date'] {
  &::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }
}
