.navBar {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
}

.navBar_list {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-around;
  width: 100%;

  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
}

.navBar_list__item {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  @media screen and (max-width: 700px) {
    width: 100%;
    padding: 1%;
    justify-content: center;
  }
}
