.bg_color {
  height: 100vh;
  display: flex;
  background-color: #0e101c;
}

.bg_color__container {
  max-width: 400px;
  margin: 0 auto;
}

.bg_color__container__title {
  font-weight: 100;
  color: #f9f9f9;
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 89, 148);
}

.bg_color__container__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  @media screen and (max-width: 200px) {
    flex-direction: column;
    gap: 0px;
  }
}

fieldset {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  gap: 25px;
  @media screen and (max-width: 450px) {
    flex-direction: column;
    gap: 0px;
  }
}

fieldset > label {
  display: flex;
  padding: 0 0.5rem;
  align-items: flex;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}

.container__title {
  font-weight: 100;
  color: #f9f9f9;
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 89, 148);
}

.container__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  @media screen and (max-width: 200px) {
    flex-direction: column;
    gap: 0px;
  }
}

fieldset {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  gap: 25px;
  @media screen and (max-width: 450px) {
    flex-direction: column;
    gap: 0px;
  }
}

fieldset > label {
  display: flex;
  padding: 0 0.5rem;
  align-items: flex;
}
